@import url('reset.css');

/*шрифт*/
@font-face { font-family: 'MuseoSans'; src: url('../fonts/MuseoSans-100.otf') format('opentype'); font-weight: 100; }
@font-face { font-family: 'MuseoSans'; src: url('../fonts/MuseoSans-300.otf') format('opentype'); font-weight: 300; }
@font-face { font-family: 'MuseoSans'; src: url('../fonts/MuseoSans-500.otf') format('opentype'); font-weight: 500; }
@font-face { font-family: 'MuseoSans'; src: url('../fonts/MuseoSans-700.otf') format('opentype'); font-weight: 700; }
@font-face { font-family: 'MuseoSans'; src: url('../fonts/MuseoSans-900.otf') format('opentype'); font-weight: 900; }

@font-face { font-family: 'MuseoSans'; src: url('../fonts/MuseoSans-100Italic.otf') format('opentype'); font-weight: 100; font-style: italic; }
@font-face { font-family: 'MuseoSans'; src: url('../fonts/MuseoSans-300Italic.otf') format('opentype'); font-weight: 300; font-style: italic; }
@font-face { font-family: 'MuseoSans'; src: url('../fonts/MuseoSans_500_italic.otf') format('opentype'); font-weight: 500; font-style: italic; }
@font-face { font-family: 'MuseoSans'; src: url('../fonts/MuseoSans-700Italic.otf') format('opentype'); font-weight: 700; font-style: italic; }
@font-face { font-family: 'MuseoSans'; src: url('../fonts/MuseoSans-900Italic.otf') format('opentype'); font-weight: 900; font-style: italic; }

/*Разметка*/
* { font-family: 'MuseoSans', sans-serif; box-sizing: border-box; }
body {
    font-weight: 700;
    font-size: 64px;
    margin: 0 120px;
    background-color: #eee;
}
.pages { display: flex; flex-direction: column; }
.pages > div { height: 1080px; position: relative; box-sizing: border-box; }

/*Текст*/
.name {
    position: absolute;
    left: 0; bottom: 0;
    font-size: 428px; color: #303030;
    line-height: 74%; letter-spacing: -0.11em;
}
.note {
    position: absolute;
    margin-top: 50px;
    font-size: 40px; line-height: 110px;
}

/*Скрепка*/
.greeting {
    position: absolute;
    margin: 726px 0 0 1275px;
    font-size: 40px;
}
.paperclip {
    position: absolute; right: 0; bottom: 0;
    font-size: 328px; font-weight: 500;
}
#first { transform: translateY(17%) translateX(7%) scaleX(-1); }
#second { transform: translateY(-10%) translateX(7%) scaleX(-1); }
#third { transform: translateY(-50%) translateX(7%) scaleX(-1); }
#fourth { transform: translateY(-40%) translateX(7%) scaleX(-1); }

/*Слова скрепки*/
.square_brackets {
    display: flex; align-items: center; justify-content: center;
    font-size: 600px; position: relative;
    height: 1em; margin: 100px 0 0 -265px;
    white-space: pre;
}
.bracket { font-weight: 300; flex-shrink: 0; }
.description {
    display: flex; align-items: center; justify-content: center;
    font-weight: 700; font-size: 64px; text-align: center;
    width: 1200px; margin: 0 0.15em; white-space: normal;
}

/*Межразметочные интервалы*/
.first_square, .second_square, .third_square, .fourth_square {
    position: absolute; background-color: #cfcfcd;
}
.first_square { top: 2050px; right: 0; width: 525px; height: 319px; }
.second_square { top: 2070px; left: 0; width: 1600px; height: 319px; }
.third_square { top: 2950px; right: 0px; width: 471px; height: 379px; }
.fourth_square { top: 3168px; left: 0; width: 1800px; height: 216px; }

/*Демонстрация букв*/
.examples {
    font-size: 400px; font-weight: 500; color: #565656;
}
.container {
    display: flex; align-items: flex-start;
    width: 1315px; height: 508px;
    box-sizing: border-box; overflow: hidden; padding: 0;
}
.third_rectangle {
    position: absolute; top: 50%; left: 50%;
    width: 138px; height: 246px; background: #d9d9d9;
    transform: translate(-50%, -50%); z-index: -1;
}
.first_triangle {
    position: absolute; top: 15px; left: -9px;
    width: 0; height: 0;
    border-left: 134.5px solid transparent;
    border-right: 134.5px solid transparent;
    border-bottom: 372px solid #d9d9d9;
    z-index: -1;
}
.second_triangle, .third_triangle {
    position: absolute; top: -28px; width: 0; height: 0; z-index: -1;
}
.second_triangle {
    left: 29px; border-right: 167px solid transparent;
    border-bottom: 404px solid #d9d9d9;
}
.third_triangle {
    left: 136px; border-left: 167px solid transparent;
    border-bottom: 404px solid #d9d9d9;
}
.fourth_triangle {
    position: absolute;
    top: 190px;
    left: 138px;
    width: 0;
    height: 0;
    border-top: 70.5px solid transparent;
    border-bottom: 99.75px solid transparent;
    border-right: 70.5px solid #d9d9d9;
    z-index: -1;
    rotate: -2deg;
}
.first_circle {
    position: absolute; top: 81px; left: 7px;
    width: 312px; height: 312px;
    border-radius: 50%; background: #d9d9d9; z-index: -1;
}
.second_circle {
    position: absolute; top: 215px; left: 56px;
    width: 112px; height: 112px;
    border-radius: 50%; background: #d9d9d9; z-index: -1;
}
.first_circle_section {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: conic-gradient(
            #d9d9d9 0deg 110deg,  
            transparent 110deg 360deg
    );
    rotate: 30deg;
    transform: translate(-46%, -125%);
}
.second_circle_section {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: conic-gradient(
            #d9d9d9 0deg 60deg,
            transparent 60deg 360deg
    );
    rotate: 88deg;
    transform: translate(-128%, -17%);
}
.third_circle_section {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background: conic-gradient(
            #d9d9d9 0deg 60deg,
            transparent 60deg 360deg
    );
    rotate: 31deg;
    transform: translate(-54%, -113%);
}

